/* navbar */

.navbar-brand{
    font-family:Righteous;
    font-size: 32px;
}
.nav-link {
    text-transform: uppercase;
    margin-right: 20px;
}
.jumbotron{
    background-color: teal !important;
    background-size: cover;
    height: 400px;
    
}
.jumbotron h1 ,span{
    color: white;
}
.sapa{
    text-align: center;
}
.button{
    background-color: white;
    text-transform: uppercase;
    border-radius: 40px !important;
    width: 100px;    
}
.gambar{
    margin-top: -17px;
    border: none;
    width: 330px;
    margin-left: -16px;
    height: 330px;
}
.kotak{
    width: 330px !important;
    margin-top: 0px;
    border: none;
    border-radius: 0 !important;
    margin-left: -16px;
    height: 271px;
}
.bungkus{
    display: block;
    margin: auto;
    margin-top: -250px;
    width: 330px;
    height: 570px;
    background-color: white;
}
.text1{
    margin-left: auto;
}
.icon{
    margin-left: 5px;
}



/* Desktop version */
@media (min-width: 992px) { 
    .navbar-brand, .nav-link{
        color: white !important;
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }
    
    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 2px solid white;
        padding-bottom:3px ;
        margin-bottom: -8px;
    }
    .jumbotron{
        margin-top: -75px;
    }
    .jumbotron img {
        margin-top: 80px;
        width: 400px;
        height: 400px;
        border-radius: 200px;
    }
    .jumbotron h1 {
        font-family: Viga;
        font-size: 30px;
        margin-top: 200px;
        display: block;
        margin-left: 410px;
        color: white;
    }
    .button{
        background-color: white;
        text-transform: uppercase;
        border-radius: 40px !important;
        width: 100px;
    }
    .text1{
        margin-left: 5px;
    }
    span {
        font-size: 20px;
        display: block;
        margin-left: 410px;
        color: white; 
    }
    .sapa{
        text-align: left;
        margin-left: 70px;
    }
    .bungkus{
        margin-top: -300px;
        width: 330px;
        height: 600px;
        background-color: white;
        margin-left: -6px;
    }
 }

